/* main-background start */
.main{
    width: 100%;
    height: 100%;
    background-image: url(/image/index/0.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    display: flex;
    /* display: -webkit-flex; */
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    }
/* main-background end */
/* menu start */
.main #menu{
    width: 50rem;
    height: 50rem;
    /* display: -webkit-inline-flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}
/* ico start */
.main #menu #topico{
    height: 10rem;
    width: 10rem;
    border: 0.5rem solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 50%;
    margin-left: -5rem;
}
/* ico end */
/* img start */
.main #menu #topico img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2rem;
    margin-top: -2rem;
    width: 4rem;
    height: 4rem;
    opacity:0.7;//透明度
    filter:alpha(opacity=70);//兼容
}
/* img end */
/* 竖线 start */
.main #menu #topico::before{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% + 5.2rem);
    left: calc(50% - 1px);
    width:5px;
    height: calc(5rem + 1px);
    background: #ffffff;
}
/* 竖线 end */
/* 标题 start */
.main #menu #yy #bt{
    color: #ffffff;
    width: 100%;
    height: 20rem;
    position: absolute;
    top: calc(50% - 5rem);
    left: calc(50% - 8.9rem);
}
/* 标题 end */
/* 一言 start */
.main #menu #yy #yiyan{
    width: 40rem;
    height: 13rem;
    line-height: 23rem;
    text-align: center;
    position: absolute;
    top: calc(50%);
    left: calc(50% - 18rem);
    margin-top: -8.35rem;
    padding-bottom: 5rem;
    border-top: 0.2rem solid #ffffff;
    border-bottom: 0.2rem solid #ffffff;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 一言 end */
/* 竖线 start */
.main #menu #yy::before{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% + 10rem);
    left: calc(50% - 0.1px);
    width:5px;
    height: calc(5rem + 1px);
    background: #ffffff;
}
/* 竖线 end */
/* 标签 start */
.main #menu ul{
    position: relative;
    width: 20rem;
    height: 5rem;
}
.main #menu ul a li{
    height: 5rem;
    width: 10rem;
    border: 0.2rem solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 800%;
    color: #ffffff;
}
.main #menu ul a #login{
    left: calc(100% + 5rem);
}
.main #menu ul a #zhuce{
    left: calc(100% - 5rem);
}
/* 标签 end */
/* menu end */
/* bottom start */
.bottom{
    position: absolute;
    color: #ffffff;
    text-align: center;
    top: 90%;
}
/* bottom end */